<div class="container">
    <div class="row">
        <div class="column d-flex justify-content-center">
            <div class="box">
                <h3>{{ documentHeader }}</h3>
                <form>
                    <div class="form-group">
                        <label for="inputClient">Client Name</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>ack5429</option>
                          <option>adn0943</option>
                          <option>jackp430</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-light" style="margin-top: 1rem;">Download CSV</button>
                </form>
            </div>
        </div>
    </div>
</div>
