<footer class="full-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="font-size: smaller;">Copyright North County Construction and Restoration 2022</div>
            <div class="col-md-3">
                <ul class="no-bullets">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/login">Login</a></li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</footer>
