<div class="container">
  <app-header-logout></app-header-logout>
</div>

<div class="container animate__animated animate__fadeIn">
    <div class="row">
        <div class="column d-flex justify-content-center">
            <div class="">
              <h1>Items</h1>
              <div>
                <button class="btn btn-success btn-sm" (click)="revealItemAddButton()" data-bs-toggle="modal" data-bs-target="#ItemModal">Add Item</button>
              </div>
                <table class="table table-striped">
                    <thead class="table">
                      <tr>
                        <th scope="col">Item ID</th>
                        <th scope="col">Room Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Brand name, serial number, or model.</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Age in Years</th>
                        <th scope="col">Replacement Cost Per Item $</th>
                        <th scope="col">Total Value $</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let row of itemData">
                        <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.RoomName }}</td>
                          <td>{{ row.Description }}</td>
                          <td>{{ row.Brand }}</td>
                          <td>{{ row.Quantity }}</td>
                          <td>{{ row.Age }}</td>
                          <td>${{ row.CostPerItem }}</td>
                          <td>${{ row.TotalValue }}</td>
                          <td>
                            <button (click)="onEdit(row)" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ItemModal">Edit</button>
                          </td>
                          <td>
                            <button (click)="deleteItem(row)" class="btn btn-danger btn-sm">Delete</button>
                          </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <div style="padding-top: 3rem; padding-left: 2rem;">
      <button (click)="switchHardcodedUser()" class="btn btn-warning btn-sm">Switch user (development)</button>
      <p>Current user: <b>{{ hardcodedUser }}</b></p>
    </div>
</div>



<!--Item Modal-->
<div>
  <div class="modal fade" id="ItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{ itemVerb }} Item</h5>
                      <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                          <i class="bi bi-x-lg" aria-hidden="true"></i>
                      </button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="formValue" id="addItemForm">
                      <div class="mb-3">
                          <label for="newRoomName">Room Name</label>
                          <input type="text" formControlName="RoomName" class="form-control" id="newRoomName">
                      </div>
                      <div class="mb-3">
                          <label for="newDescription">Description</label>
                          <input type="text" formControlName="Description" class="form-control" id="newDescription">
                      </div>
                      <div class="mb-3">
                          <label for="newBrandName">Brand name, serial number, or model</label>
                          <input type="text" formControlName="Brand" class="form-control" id="newBrandName">
                      </div>
                      <div class="mb-3">
                          <label for="newQuantity">Quantity</label>
                          <input type="text" formControlName="Quantity" class="form-control" id="newQuantity">
                      </div>
                      <div class="mb-3">
                          <label for="newAge">Age in Years</label>
                          <input type="text" formControlName="Age" class="form-control" id="newAge">
                      </div>
                      <div class="mb-3">
                          <label for="newCostPerItem">Cost Per Item $</label>
                          <input type="text" formControlName="CostPerItem" class="form-control" id="newCostPerItem">
                      </div>
                  </form>

              </div>
              <div class="modal-footer">
                  <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" *ngIf="showAddButton" (click)="postItemDetails()" class="btn btn-success">Submit</button>
                  <button type="button" *ngIf="showUpdateButton" (click)="updateItemDetails()" class="btn btn-success">Update</button>
              </div>
          </div>
      </div>
  </div>
</div>
