<div class="container">
    <div class="row">
        <div class="column d-flex justify-content-center">
            <div class="room-table">
              <h1>{{ tableRoomHeader }}</h1>
                <table class="table table-striped">
                    <thead class="table-light">
                      <tr>
                        <th scope="col">Item No.</th>
                        <th scope="col">Category/Room</th>
                        <th scope="col">Description of Item</th>
                        <th scope="col">Brand name, serial number, or model.</th>
                        <th scope="col">Qty.</th>
                        <th scope="col">Age in Yrs.</th>
                        <th scope="col">Replacement Cost $</th>
                        <th scope="col">Total Value $</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td scope="row">1</td>
                          <td>Bedroom</td>
                          <td>Bed frame</td>
                          <td>Jefferson, Serial #nfe82r</td>
                          <td>1</td>
                          <td>5</td>
                          <td>1200</td>
                          <td>1200</td>
                        </tr>
                        <tr>
                          <td scope="row">1</td>
                          <td>Bedroom</td>
                          <td>Bed frame</td>
                          <td>Jefferson, Serial #nfe82r</td>
                          <td>1</td>
                          <td>5</td>
                          <td>1200</td>
                          <td>1200</td>
                        </tr>
                        <tr>
                          <td scope="row">1</td>
                          <td>Bedroom</td>
                          <td>Bed frame</td>
                          <td>Jefferson, Serial #nfe82r</td>
                          <td>1</td>
                          <td>5</td>
                          <td>1200</td>
                          <td>1200</td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
