<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
  
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#"><object width="25px" class="logo" data="assets/svg/north-county-app-logo.svg"></object>
        {{ title }}
      </a>
  
      <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
        </ul>
  
        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item me-3 me-lg-0">
            <app-login-button></app-login-button>
          </li>
        </ul>
      </div>
    </div>
    <!-- Container wrapper -->
</nav>
