<div class="container">
  <app-header-logout></app-header-logout>
</div>

<div class="container animate__animated animate__fadeIn admin-container">
    <div class="row">
        <div class="column d-flex justify-content-center">
          <div class="box">
            <div>
              <h3 class="mb-3">Admin Panel</h3>
            </div>
            <!--<app-add-user-panel></app-add-user-panel>-->
            <div class="col-sm">
              <div class="row mt-2">
                <a routerLink="/admin/users" class="btn btn-primary">Users</a>
              </div>
              <!--
              <div class="row mt-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exportCsvModal">
                    Export .csv</button>
              </div>
              -->
            </div>
          </div>
        </div>
    </div>
</div>

<div>
    <!--User modal-->
    
      
    <!--Export csv modal-->
    <div class="modal fade" id="exportCsvModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Export .csv</h5>
            <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
              <i class="bi bi-x-lg" aria-hidden="true"></i>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="inputClient">Client Name</label>
                  <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>ack5429</option>
                      <option>jds123</option>
                  </select>
              </div>
              
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Download CSV</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>