<div class="background-image">
    <div class="container">
        <app-header></app-header>
    </div>
    <div style="padding-top: 8rem;"></div>
        <div class="column d-flex justify-content-center">
            <div class="box" style="width: 40rem">
                <h2>North County Construction and Restoration</h2>
                <p>We are a specialized company with a focus on exceeding standards in communication, efficiency, and quality to stand out in the industry.                
                    Allow us to support you through the process
                    of building your new home</p>
                <p>Please login to our online application below if you are one of our clients</p>
                <div class="column d-flex justify-content-center" style="margin-top: 3rem;">
                    <a routerLink="/login"><button class="btn btn-success" style="width: 20rem; height: 5rem; font-size: x-large;">Login</button></a>
                </div>
            </div>
        </div>
        <div style="padding-top: 14rem;"></div>
</div>


